body {
    font-family: roboto;
}

.model-name {
    text-transform: capitalize;
}

a:visited {
    color:#551A8B !important;
}

nav.navbar {
    border-bottom: 1px solid #e1e1e1;
    border-radius: 1px;
    margin-bottom: 1em;
}

/* Breadcrumbs are not working with this */
nav.navbar a,
nav.navbar p,
nav.navbar .navbar-text,
nav.navbar .breadcrumb-item.active {
    font-size: 1.5em;
    line-height: 1.5em;
}

@media (max-width: 992px) {
    nav.navbar a,
    nav.navbar p,
    nav.navbar .navbar-text,
    nav.navbar .breadcrumb-item.active {
        font-size: 2.3em;
        line-height: 2.3em;
    }
}


.navbar .dropdown-toggle.h2 {
    margin: auto;
}

.navbar .breadcrumb {
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: inherit;
}
