body {
    font-family: roboto;
}

.model-name {
    text-transform: capitalize;
}

/* It would be lovely to have this truncate at page thinned */
.page-desc {
}

/* Breadcrumbs are not working with this */
nav.navbar a,
nav.navbar p {
    font-size: 1.5em;
    line-height: 1.5em;
}

.navbar .dropdown-toggle.h2 {
    margin: auto;
}

.navbar .breadcrumb {
    margin: 0;
    padding: 0 0 0 1rem;
    background-color: inherit;
}
