table {
    border-collapse: collapse;
}

table.table {
    width: initial;
}

table.table tr th,
tr th {
    border: 1px solid #ddd;
    padding: 6px 5px;
}

table.table tr td,
td {
    border: 1px solid #ddd;
    padding: 2px 5px;
}


tr.sep-bot td { padding-bottom: 20px; }
tr.sep-top td { padding-top: 20px; }

.debug-sep {
    border-left: 5px solid black
}

.c-tooltip {
    position: relative;
}
.c-tooltip .tooltipcontainer {
    position:absolute;
    left: -150px;
    right: -150px;
    text-align: center;
    z-index: 2;
}

.c-tooltip .tooltiptext {
    background: #aaa;
    border-radius: 8px;
    display: none;
    padding: 8px 10px;
    max-width: 300px;
}
.c-tooltip:hover .tooltiptext {
    display: inline-block;
}

.models-table {
  display: inline-table;
  font-size: 125%;
  margin-bottom: 20px;
  margin-right: 5px;
}

